{
  "ranged": {
    "ch_0_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_0_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 13000
    }, 
    "ch_0_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_0_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_0_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_0_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_0_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_0_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 100
    }, 
    "ch_0_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_10_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_10_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 52000
    }, 
    "ch_10_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_10_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_10_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_10_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_10_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_10_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 500
    }, 
    "ch_10_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_11_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_11_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 52000
    }, 
    "ch_11_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_11_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_11_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_11_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_11_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_11_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 500
    }, 
    "ch_11_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_12_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_12_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 52000
    }, 
    "ch_12_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_12_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_12_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_12_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_12_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_12_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 500
    }, 
    "ch_12_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_13_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_13_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 52000
    }, 
    "ch_13_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_13_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_13_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_13_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_13_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_13_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 500
    }, 
    "ch_13_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_14_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_14_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 52000
    }, 
    "ch_14_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_14_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_14_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_14_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_14_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_14_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 500
    }, 
    "ch_14_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_15_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_15_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 65535
    }, 
    "ch_15_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 0
    }, 
    "ch_15_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_15_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_15_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_15_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_15_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 10000
    }, 
    "ch_15_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_1_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_1_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 13000
    }, 
    "ch_1_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_1_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_1_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_1_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_1_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_1_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 100
    }, 
    "ch_1_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_2_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_2_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 13000
    }, 
    "ch_2_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_2_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_2_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_2_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_2_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_2_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 100
    }, 
    "ch_2_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_3_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_3_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 52000
    }, 
    "ch_3_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_3_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_3_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_3_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_3_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_3_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 100
    }, 
    "ch_3_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_4_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_4_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 13000
    }, 
    "ch_4_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_4_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_4_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_4_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_4_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_4_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 100
    }, 
    "ch_4_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_5_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_5_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 13000
    }, 
    "ch_5_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_5_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_5_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_5_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_5_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_5_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 100
    }, 
    "ch_5_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_6_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_6_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 13000
    }, 
    "ch_6_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_6_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_6_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_6_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_6_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_6_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 100
    }, 
    "ch_6_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_7_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_7_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 13000
    }, 
    "ch_7_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_7_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_7_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_7_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_7_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_7_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 100
    }, 
    "ch_7_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_8_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_8_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 52000
    }, 
    "ch_8_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_8_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_8_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_8_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_8_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_8_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 500
    }, 
    "ch_8_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_9_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "ch_9_dacoffset": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 52000
    }, 
    "ch_9_gain": {
      "max": 3, 
      "min": 0, 
      "setpoint": 1
    }, 
    "ch_9_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "ch_9_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_9_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "ch_9_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "ch_9_threshold": {
      "max": 65535, 
      "min": 0, 
      "setpoint": 500
    }, 
    "ch_9_triggerdelay": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "ch_format": {
      "max": 16, 
      "min": 0, 
      "setpoint": 1
    }, 
    "coincidence": {
      "max": 16, 
      "min": 1, 
      "setpoint": 2
    }, 
    "gate_coinc_window": {
      "max": 1024, 
      "min": 4, 
      "setpoint": 20
    }, 
    "gate_delay": {
      "max": 1024, 
      "min": 4, 
      "setpoint": 90
    }, 
    "gate_intern_window": {
      "max": 1024, 
      "min": 4, 
      "setpoint": 30
    }, 
    "gate_window": {
      "max": 1024, 
      "min": 4, 
      "setpoint": 512
    }, 
    "gr_0_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "gr_0_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "gr_0_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "gr_0_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "gr_0_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "gr_0_threshold": {
      "max": 100000, 
      "min": 0, 
      "setpoint": 100
    }, 
    "gr_1_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "gr_1_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "gr_1_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "gr_1_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "gr_1_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "gr_1_threshold": {
      "max": 100000, 
      "min": 0, 
      "setpoint": 100
    }, 
    "gr_2_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "gr_2_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "gr_2_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "gr_2_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "gr_2_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "gr_2_threshold": {
      "max": 100000, 
      "min": 0, 
      "setpoint": 100
    }, 
    "gr_3_cfd_ena": {
      "max": 3, 
      "min": 0, 
      "setpoint": 3
    }, 
    "gr_3_hithreshold": {
      "max": 200000, 
      "min": 0, 
      "setpoint": 120000
    }, 
    "gr_3_mawgap": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "gr_3_mawpeak": {
      "max": 32, 
      "min": 0, 
      "setpoint": 8
    }, 
    "gr_3_out_pulse": {
      "max": 32, 
      "min": 0, 
      "setpoint": 4
    }, 
    "gr_3_threshold": {
      "max": 100000, 
      "min": 0, 
      "setpoint": 100
    }, 
    "gr_accum1_start": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 0
    }, 
    "gr_accum1_window": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "gr_accum2_start": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 25
    }, 
    "gr_accum2_window": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "gr_accum3_start": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 0
    }, 
    "gr_accum3_window": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 128
    }, 
    "gr_accum4_start": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 45
    }, 
    "gr_accum4_window": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 20
    }, 
    "gr_accum5_start": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 65
    }, 
    "gr_accum5_window": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 63
    }, 
    "gr_accum6_start": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 25
    }, 
    "gr_accum6_window": {
      "max": 1024, 
      "min": 0, 
      "setpoint": 40
    }
  }, 
  "toggle": {
    "ch_0_enable": 1, 
    "ch_0_hisuppress_enable": 1, 
    "ch_0_invert": 1, 
    "ch_0_trig_enable": 1, 
    "ch_10_enable": 0, 
    "ch_10_hisuppress_enable": 1, 
    "ch_10_invert": 0, 
    "ch_10_trig_enable": 0, 
    "ch_11_enable": 0, 
    "ch_11_hisuppress_enable": 1, 
    "ch_11_invert": 0, 
    "ch_11_trig_enable": 0, 
    "ch_12_enable": 0, 
    "ch_12_hisuppress_enable": 1, 
    "ch_12_invert": 0, 
    "ch_12_trig_enable": 0, 
    "ch_13_enable": 0, 
    "ch_13_hisuppress_enable": 1, 
    "ch_13_invert": 0, 
    "ch_13_trig_enable": 0, 
    "ch_14_enable": 0, 
    "ch_14_hisuppress_enable": 1, 
    "ch_14_invert": 0, 
    "ch_14_trig_enable": 0, 
    "ch_15_enable": 0, 
    "ch_15_hisuppress_enable": 1, 
    "ch_15_invert": 0, 
    "ch_15_trig_enable": 0, 
    "ch_1_enable": 0, 
    "ch_1_hisuppress_enable": 1, 
    "ch_1_invert": 1, 
    "ch_1_trig_enable": 0, 
    "ch_2_enable": 1, 
    "ch_2_hisuppress_enable": 1, 
    "ch_2_invert": 1, 
    "ch_2_trig_enable": 1, 
    "ch_3_enable": 0, 
    "ch_3_hisuppress_enable": 1, 
    "ch_3_invert": 1, 
    "ch_3_trig_enable": 0, 
    "ch_4_enable": 1, 
    "ch_4_hisuppress_enable": 1, 
    "ch_4_invert": 1, 
    "ch_4_trig_enable": 1, 
    "ch_5_enable": 0, 
    "ch_5_hisuppress_enable": 1, 
    "ch_5_invert": 1, 
    "ch_5_trig_enable": 0, 
    "ch_6_enable": 1, 
    "ch_6_hisuppress_enable": 1, 
    "ch_6_invert": 1, 
    "ch_6_trig_enable": 1, 
    "ch_7_enable": 0, 
    "ch_7_hisuppress_enable": 1, 
    "ch_7_invert": 1, 
    "ch_7_trig_enable": 0, 
    "ch_8_enable": 0, 
    "ch_8_hisuppress_enable": 1, 
    "ch_8_invert": 0, 
    "ch_8_trig_enable": 0, 
    "ch_9_enable": 0, 
    "ch_9_hisuppress_enable": 1, 
    "ch_9_invert": 0, 
    "ch_9_trig_enable": 0, 
    "extern_trig": 1, 
    "extern_trig_ena": 1, 
    "extern_ts_clr_ena": 1, 
    "feedback_int_as_ext": 1, 
    "gr_0_enable": 1, 
    "gr_0_hisuppress_enable": 1, 
    "gr_0_sumtrigger": 0, 
    "gr_1_enable": 1, 
    "gr_1_hisuppress_enable": 1, 
    "gr_1_sumtrigger": 0, 
    "gr_2_enable": 1, 
    "gr_2_hisuppress_enable": 1, 
    "gr_2_sumtrigger": 0, 
    "gr_3_enable": 1, 
    "gr_3_hisuppress_enable": 1, 
    "gr_3_sumtrigger": 0, 
    "int_feedback_select_register": 1, 
    "lemo_ti_to_te": 1, 
    "nim_ti_as_te": 1, 
    "record_waveforms": 1
  }
}